<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="refresh" content="20" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display</title>
    
    <script>

    </script>

</head>
<body onload="readValue()">
    <h4>id from popup</h4>
    <form action = "" method = "POST">
        {% csrf_token %}
        <label for="your_name">Your name: </label>
        <input id="your_name" type="text" name="your_name">
        <input type="submit" value="OK">
    </form>
   <!-- <p id="got"></p> -->
</body>
</html>